table{
    /*border: 1px solid gray;*/
    width: 100%;
}
th,td{
    /*border-left: 1px solid gray;*/
    background-color: lightgrey;
    width: 10%;
    padding: 5px;
}
.text_head{
    font-size: 20px;
}
.content{
    padding-left: 50px;
    width: 100%;
}
.gallery{

}
figure{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border: 1px solid beige;
    padding: 5px;
}
figcaption{
    text-align: center;
}